* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    margin-top: 0;
}

.container {
    max-width: 1219px;
    padding: 0px 55px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Font Roboto START */
@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
/* Font Roboto END */

/* Header START */
.site-header {
    background-color: #007765;
    color: #fff;
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 19px 0px;
}
.logo img {
    width: 184px;
    height: 45px;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    column-gap: 9px;
}
.menu ul a {
    transition: color 0.35s ease;
    font-weight: 500;
    font-size: 24px;
}
.menu ul a:hover {
    color: black;
}
/* Header END */

/* Jumbotron START */
.s-jumbotron {
    background-image: url("img/jumbotron.png");
    background-color: #007765;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.jumbotron-wrap {
    color: #fff;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 160px;
}
.jumbotron-title {
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 0;
}
/* Jumbotron END */

/* Problem START */
.s-problem {
    background-color: #eeeeee;
    padding-top: 48px;
    padding-bottom: 92px;
}
.problem-wrap {
    color: #007765;
    text-align: center;
    width: 1107px;
}
.problem-title {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 16px;
}
.problem-desc {
    width: 1110px;
}
.problem-desc p {
    font-size: 32px;
}
/* Problem END */

/* Hero START */
.s-hero {
    background-image: url(img/hero.png);
    background-color: darkcyan;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hero-wrap {
    color: #fff;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 127px;
}
.hero-title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 0;
}
/* Hero END */

/* Ppc START */
.s-ppc {
    background-color: #ffffff;
}
.ppc-wrap {
    padding-top: 48px;
    padding-bottom: 92px;
    width: 1110px;
}
.ppc-title {
    text-align: center;
    color: #007765;
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 16px;
}
.ppc-img-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 48px;
}
.ppc-image img {
    width: 115px;
    height: 115px;
}
.ppc-description {
    font-size: 32px;
}
.ppc-desc {
    font-size: 32px;
}
/* Ppc END */

/* Team START */
.s-team {
    background-color: #eeeeee;
    padding-top: 58px;
    padding-bottom: 84px;
}
.team-topic {
    font-size: 64px;
    font-weight: 500;
    color: #007765;
    text-align: center;
    padding-bottom: 32px;
    margin: 0;
}
.team-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.team-item {
    max-width: 350px;
    text-align: center;
    padding-bottom: 30px;
}
.team-icon img {
    width: 168px;
    height: 168px;
    margin-bottom: 12px;
}
.team-title {
    font-size: 24px;
    color: #007765;
}
.team-desc {
    font-size: 18px;
}
/* Team END */

/* Footer START */
.site-footer {
    background-color: #333333;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 62px;
    font-size: 18px;
    text-align: center;
}
/* Footer END */